<h2 class="text-center">Doctor Dashboard</h2>
<div class="d-flex justify-content-center m-3">
    <a asp-controller="Account"
       asp-action="Logout"
       class="btn btn-danger text-center">
        Logout
    </a>
</div>